



:root{
    /* --bg: #60efbd; */
    --bg: #A6E3E9;
}

footer{
    width: 100vw;
    height: 3vh;
    background-color: var(--bg);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    
}




footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #212121; */
    color: #000000;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}



footer{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}



footer{
    border: 2px solid #000000;
}

